<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWcLkXTvK-j95rBDQYWYkAFPv7K6dGEMk</string>
	<key>GCM_SENDER_ID</key>
	<string>113439339224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasincevik.FITDIARY</string>
	<key>PROJECT_ID</key>
	<string>fitdiary-1baff</string>
	<key>STORAGE_BUCKET</key>
	<string>fitdiary-1baff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113439339224:ios:bc429af9af8ea874fdddad</string>
</dict>
</plist>